 .u-section-1 {
  background-image: none;
  min-height: 509px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 500px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 8px 0;
}

.u-section-1 .u-image-1 {
  width: 530px;
  height: 447px;
  margin: 58px auto -26px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 500px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.49;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 4px;
  background-image: none;
  margin: 30px 81px 0 88px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 4px;
  background-image: none;
  margin: 64px 81px 0 88px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 64px 47px 0 55px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 99.18% 50%;
    min-height: 412px;
  }

  .u-section-1 .u-image-1 {
    width: 500px;
    height: 422px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 36px;
    margin-left: 43px;
    width: 363px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 36px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.5rem;
    margin-left: 10px;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 585px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 34px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 105px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-top: -222px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-1 .u-image-1 {
    width: 323px;
    height: 273px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 584px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 864px;
  margin: 57px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 390px;
  margin: 114px -86px 0 auto;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.5rem;
  width: 829px;
  margin: -474px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 233px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: -317px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-3 .u-image-1 {
  width: 276px;
  height: 183px;
  margin: -14px auto 0 159px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -117px 100px 0 176px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 92px 261px 0 721px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -32px 824px 0 176px;
}

.u-section-3 .u-image-2 {
  width: 123px;
  height: 123px;
  margin: 0 auto 0 45px;
}

.u-section-3 .u-image-3 {
  width: 122px;
  height: 122px;
  margin: -123px 428px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: -113px 74px 0 721px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: -75px 619px 0 176px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 26px 261px 0 721px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: -20px 792px 0 176px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 1px 74px 0 721px;
}

.u-section-3 .u-image-4 {
  width: 123px;
  height: 123px;
  margin: -100px 427px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 123px;
  height: 123px;
  margin: -123px auto 0 45px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: -110px 619px 0 175px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 47px 806px 0 176px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: -32px 260px 0 721px;
}

.u-section-3 .u-image-6 {
  width: 123px;
  height: 123px;
  margin: 3px auto 0 45px;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  margin: -111px 619px 0 175px;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  margin: -150px 74px 0 722px;
}

.u-section-3 .u-image-7 {
  width: 122px;
  height: 122px;
  margin: -110px 428px 0 auto;
}

.u-section-3 .u-image-8 {
  width: 276px;
  height: 183px;
  margin: -294px -119px 0 auto;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  margin: 188px 806px 0 175px;
}

.u-section-3 .u-image-9 {
  width: 123px;
  height: 123px;
  margin: -17px auto 0 45px;
}

.u-section-3 .u-text-15 {
  font-weight: 400;
  margin: -100px 619px 0 175px;
}

.u-section-3 .u-image-10 {
  width: 275px;
  height: 183px;
  margin: -94px 275px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 228px;
  }

  .u-section-3 .u-text-1 {
    width: 864px;
    margin-right: 128px;
    margin-left: 148px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -305px;
    margin-right: 161px;
    margin-left: 621px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 333px;
    margin-right: 724px;
    margin-left: 76px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -1px;
    margin-left: 145px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -122px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 68px;
    margin-right: 0;
    margin-left: 595px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -251px;
    margin-right: 519px;
    margin-left: 76px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -568px;
    margin-right: 161px;
    margin-left: 621px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 466px;
    margin-right: 692px;
    margin-left: 76px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -538px;
    margin-right: 0;
    margin-left: 595px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 544px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -71px;
    margin-left: 145px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -312px;
    margin-right: 519px;
    margin-left: 75px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -6px;
    margin-right: 706px;
    margin-left: 76px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -575px;
    margin-right: 160px;
    margin-left: 621px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 759px;
    margin-left: 145px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -914px;
    margin-right: 519px;
    margin-left: 75px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -94px;
    margin-right: 0;
    margin-left: 596px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 736px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -664px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 28px;
    margin-right: 706px;
    margin-left: 75px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 430px;
    margin-left: 145px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -387px;
    margin-right: 519px;
    margin-left: 75px;
  }

  .u-section-3 .u-image-10 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: 338px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 51px;
    margin-left: 511px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 580px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: 255px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 375px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 51px;
    margin-left: 511px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 548px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 375px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 255px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 374px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 562px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 50px;
    margin-left: 511px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 255px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 374px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 376px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 561px;
    margin-left: 0;
  }

  .u-section-3 .u-image-9 {
    margin-left: 255px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 374px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 428px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -330px;
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 358px;
    margin-right: 400px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 345px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 418px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -7px;
    margin-left: 195px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -176px;
    margin-right: 195px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -593px;
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 368px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -613px;
    margin-left: 195px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 619px;
    margin-right: 417px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 345px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -287px;
    margin-right: 194px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -56px;
    margin-right: 382px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -625px;
    margin-right: 0;
    margin-left: 381px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 809px;
    margin-left: 345px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -889px;
    margin-right: 194px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -169px;
    margin-left: 196px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 761px;
    margin-right: 418px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -639px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 381px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 405px;
    margin-left: 345px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -362px;
    margin-right: 194px;
  }

  .u-section-3 .u-image-10 {
    margin-right: 265px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-right: 400px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -355px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 383px;
    margin-right: 200px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 445px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 218px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -82px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: -101px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -618px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 441px;
    margin-right: 168px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -663px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 669px;
    margin-right: 217px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 445px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -262px;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: -131px;
    margin-right: 182px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -675px;
    margin-left: 181px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 859px;
    margin-left: 445px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -864px;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-top: -219px;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    margin-right: 218px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -614px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 181px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 380px;
    margin-left: 445px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -337px;
    margin-right: 0;
  }

  .u-section-3 .u-image-10 {
    margin-right: 65px;
  }
}